@import "bootstrap-sprockets";
@import "bootstrap";

article {
  font-family: Roboto;
  font-weight: 300;
  font-size: 120%;
}

article img {
  max-width: 100%;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: "Roboto Slab";
  font-weight: 400;
}